<div style="width: 40%;">
    <div class="form-group" >
      <label for="exampleInputEmail1"></label>
      <input type="number" [(ngModel)]="c" (ngModelChange)="calcC($event)" name="cee" class="form-control" id="celcius" aria-describedby="celcius" placeholder="Enter value"> {{this.lengths[selected1].unit}}
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      <select [(ngModel)]="selected1" (ngModelChange)="selected11($event)" name="" id="" class="form-control">
          <option *ngFor="let length of lengths" value="{{length.id}}"> {{length.label}} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input [(ngModel)]="v" (ngModelChange)="calcF($event)" name="vee" type="number" class="form-control" id="exampleInputPassword1" placeholder="enter value" /> {{lengths[selected2].unit}}
      
      <select [(ngModel)]="selected2" (ngModelChange)="selected12($event)" name="" id="" class="form-control">
        <option *ngFor="let length of lengths" value="{{length.id}}"> {{length.label}} </option>
    </select>
    </div>
    <div class="form-check">
        <!-- Fahrenheit: {{selected1}}
        Celcius: {{c}} -->
      <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
      <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</div>
